<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pk.edu.fccollege.assignment_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_1">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_window_activity"></activity>
        <activity android:name=".blog_entery_acitivity"></activity>
        <activity android:name=".new_blog_entry_window_activity"></activity>
        <activity android:name=".selec_image_activity"></activity>
        <activity android:name=".description_view_activity"></activity>

    </application>

</manifest>